/* GENERAL */

@font-face {
    font-family: 'MyriadProReg';
    src: url('link/fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: 'MyriadProB';
    src: url('link/fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: 'MyriadProIt';
    src: url('link/fonts/MyriadPro-It.otf');
}

body {
    background-color: #62647d;
}

/* HEADER */

header {
    display: block;
    height: 140px;
}

header img {
    width: 285px;
    margin-left: 130px;
    margin-top: 45px;
    float: left;
}

header ul {
    position: absolute;
    right: 130px;
    top: 70px;
}

header ul li {
    float: left;
}

header a {
    text-decoration: none; 
    font-family: 'MyriadProReg', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    color: #adadad;
    margin: 0 34px;
}

header a:hover {
    color: white;
}


/* SLIDER */

    
    /* INTRO -- SLIDER */


h1 {
    font-family: 'MyriadProB', sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: white; 
}

#intro {
    margin-top: 70px;
    width: 520px;
    margin-right: 270px;
    float: right;
}

#intro p {
    font-family: 'MyriadProReg', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #cdcdcd;
    margin-top: 40px;
    margin-bottom: 26px;
}

#intro a {
     font-family: 'MyriadProB', sans-serif;
    font-size: 30px;
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 44px 14px 34px;
    border: 4px solid white;
    display: inline-block;
    border-radius: 5px;
}


    /* INTRO -- DOTS SLIDER */

#dots-slide li{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #9b9caa; 
    margin: 0px 0px 24px 85px;
}

#dots-slide li:hover {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    margin: 0px 0px 24px 78px;
    background-color: transparent;
    border: 3px solid white;
}

#dots-slide {
    position: absolute;
    margin-top: 230px;
}

        /* INTRO -- STATS */

#description {
    clear: right;
}

#slider-container {
    background: #60627b;
    background-image: url("link/hero-image.png"); /* fallback */
    background-image: url("link/hero-image.png"), url("link/tesla-bg.png"), linear-gradient(#4b4d61, #62647d); /* W3C */
    background-position: 0px 540px, 40px 300px, 0px 0px;
    background-repeat: no-repeat; 
    overflow: hidden;
    background-size: contain, 95%, contain;
}



#description>div {
    margin-top: 360px;
    float: left;
    width: 33.2%;
    height: 340px;
    color: white;
    padding-top: 240px;
    padding-bottom: 20px;
}

#description>div span {
    vertical-align: super;
    font-size: 50%;
}

#description>div>div {
    padding-left: 190px;
}

#description>div:last-child,
#description>div:first-child{
    width: 33.4%;
}

#description h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 160px;
}

#description p {
    font-family: 'MyriadProReg', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    color: #cdcdcd;
}


/* ZOOM INFOS */

#zoom-infos div, 
#zoom-infos img {
    float: left;
    width: 50%;
    height: 480px;
}

#zoom-infos div:first-child {
    background-color: #62647d;
}

#zoom-infos div:last-child {
    background-color: #30313e;
}

#zoom-infos div {
}

#zoom-infos h2 {
    font-family: 'MyriadProB', sans-serif;
    font-size: 52px;
    color: white;
    padding: 115px 105px 35px 190px;
}

#zoom-infos p {
    font-family: 'MyriadProReg', sans-serif;
    padding-left: 190px;
    padding-right: 105px;
    color: #cdcdcd;
    line-height: 1.5;
    font-size: 20px;
}

/* JOIN US SECTION */  

#join-us {
    clear: both;
    background-color: white;
    height: 290px;
    text-align: center;
}

#join-us a {
    margin-top: 80px;
    margin-bottom: 29px;
    display: inline-block;
    background-color: #23242e;
    border-radius: 5px;
    padding: 35px 115px 25px;
    color: white;
    font-family: 'MyriadProB', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

#join-us p {
    font-family: 'MyriadProReg', sans-serif;
    font-size: 20px;
    color: #62647d;
}

/* FOOTER */

footer {
    height: 120px;
    background-color: #62647d;
    text-align: center;
}

footer img {
    margin-top: 35px;
}

/* LINES */

